In [21]:
import pandas as pd
import numpy as np
    
def read_ecad_sum(path, VAL):
    ecad = pd.read_csv(path, names = ['STAID', 'SOUID', 'DATE', VAL, 'QUALITY'], skiprows = 21, parse_dates = ['DATE']).set_index('DATE')
    ecad = ecad[ecad['QUALITY'] == 0]
    output = pd.DataFrame()
    if ecad[VAL].count() >= 365 * 20 and ecad.index.max() >= pd.to_datetime('01/01/2000') and ecad.index.min() < pd.to_datetime('01/01/2000'):
        output[VAL] = ecad[VAL].resample(rule = 'M').sum()
    return output

def read_ecad_mean(path, VAL):
    ecad = pd.read_csv(path, names = ['STAID', 'SOUID', 'DATE', VAL, 'QUALITY'], skiprows = 21, parse_dates = ['DATE']).set_index('DATE')
    ecad = ecad[ecad[VAL] != -9999]
    if VAL == 'RS':
        ecad = ecad[ecad[VAL] <= 500]
    output = pd.DataFrame()
    if ecad[VAL].count() >= 365 * 20 and ecad.index.max() >= pd.to_datetime('01/01/2000') and ecad.index.min() < pd.to_datetime('01/01/2000'):
        output[VAL] = ecad[VAL].resample(rule = 'M').mean()
    return output

In [25]:
U = read_ecad_mean(r"C:\Users\owner\Downloads\755\FG_STAID000755.txt", 'U2')/10
RH = read_ecad_mean(r"C:\Users\owner\Downloads\755\HU_STAID000755.txt", "RH")
Rs = read_ecad_mean(r"C:\Users\owner\Downloads\755\QQ_STAID000755.txt", "R")
P = read_ecad_sum(r"C:\Users\owner\Downloads\755\RR_STAID000755.txt", "P")
Tmean = read_ecad_mean(r"C:\Users\owner\Downloads\755\TG_STAID000755.txt", "T")/10
Tmax = read_ecad_mean(r"C:\Users\owner\Downloads\755\TN_STAID000755.txt", "Tmax")/10
Tmin = read_ecad_mean(r"C:\Users\owner\Downloads\755\TX_STAID000755.txt", "Tmin")/10

In [28]:
dfs_array = [U, RH, Rs, P, Tmean, Tmax, Tmin]
data = pd.concat(dfs_array, axis=1).dropna()
data.to_excel('Monthly_755.xlsx')

In [29]:
data

,U2,RH,R,P,T,Tmax,Tmin
DATE,,,,,,,
1980-01-31,0.406452,69.419355,76.419355,717,-0.164516,-4.500000,4.200000
1980-02-29,0.289655,60.724138,123.034483,366,5.006897,0.106897,9.927586
1980-03-31,0.380645,67.193548,169.612903,652,5.051613,-0.400000,10.506452
1980-04-30,0.670000,53.433333,257.000000,84,7.230000,1.273333,13.173333
1980-05-31,0.493548,69.096774,219.870968,709,10.861290,5.535484,16.180645
...,...,...,...,...,...,...,...
2020-04-30,3.480000,0.233333,920.466667,250,13.083333,6.470000,19.743333
2020-05-31,2.820000,0.419355,1038.387097,1070,15.886667,9.333333,22.490000
2020-06-30,2.806667,0.500000,1124.866667,914,17.073333,10.610000,23.576667
2020-07-31,3.270968,0.451613,1225.032258,542,21.619355,13.677419,29.622581
2020-08-31,3.654545,0.636364,1101.727273,1250,21.496774,13.980645,29.070968